<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Bitcoin Value Charter</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="initialAmount">Initial Investment Amount</label>
            <input type="text" id="initialAmount" class="form-control" aria-describedby="initial-Amount" placeholder="Ex. $1000">
          </div>
          <div class="form-group">
            <label for="entryDate">Entry Date (DD/MM/YYYY)</label>
            <input type="text" id="entryDate" class="form-control" aria-describedby="entry-Date" placeholder="Ex. 05/10/2015">
          </div>     
          <div class="form-group">
            <label for="exitDate">Exit Date (DD/MM/YYYY)</label>
            <input type="text" id="exitDate" class="form-control" aria-describedby="exit-Date" placeholder="Ex. 04/11/2016">
          </div>
          
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Recent Investments:</h3>
        <table>
      <tr><th>Init $</th><th>Entry</th><th>Exit</th><th>BV</th><th>Net</th><th>G/L</th></tr>
<tbody id="investor-table-body">
          {{#each investors}}
                             <tr data-id="{{this.id}}">

            <td><a href="investor/{{this.id}}">{{this.initialAmount}}</a></td>
            <td><a href="investor/{{this.id}}">{{this.entryDate}}</a></td>
            <td><a href="investor/{{this.id}}">{{this.exitDate}}</a></td>
            <td><a href="investor/{{this.id}}">{{this.bookValue}}</a></td>
            <td><a href="investor/{{this.id}}">{{this.netAmount}}</a></td>
            <td><a href="investor/{{this.id}}">{{this.gainLoss}}</a></td>
            <td><button class="btn btn-danger float-right delete deleteButton"  data-id="{{this.id}}">ｘ</button></td>
                                </tr>

          {{/each}}
       </tbody>   
</table>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
