<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Bitcoin Value Charter</h2>
        <br>
<div class="container">
<div class="z-depth-5">
<div class="row">
  <br>
<form class="clearfix mb-4" action="POST" >
  <div class="col s1"></div>
  <div class='col s10'>
          <div class="form-group">
            <label for="initialAmount">Initial Investment Amount in Canadian Dollars:</label>
            <input  
            id="initialAmount" 
            class="form-control" 
            aria-describedby="initial-Amount" 
            placeholder="Ex. $1000" 
            
            />
          </div>
          <div class="form-group">
            <label for="entryDate"> Investment Entry Date: (YYYY-MM-DD)</label>
            <input 
            type="date" 
            id="entryDate" 
            class="form-control" 
            aria-describedby="entry-Date" 
            placeholder="No earlier than 2010-07-17 please!" 
          
            />
          </div>     
          <div class="form-group">
            <label for="exitDate">Investment Exit Date: (YYYY-MM-DD)</label>
            <input 
            type="date" 
            id="exitDate" 
            class="form-control" 
            aria-describedby="exit-Date" 
            placeholder="No Future dates!" 

            />
          </div>
            <br>
          <button id="submit" class="btn-large red pulse btn waves-effect waves-light right" >Submit</button>
        </div>
        </form>
        <div class="col s1"></div>
</div>
<div class="row"></div>
</div>
</div>
        <h3>Recent Investments:</h3>
        <div class="z-depth-5"> 
        <div class="row">
          <div class="col s1"></div>
          <div class="col s10">
        <table class="centered highlight responsive-table">
      <thead>
        <tr>
          <th>Initial Investment in CAD</th>
          <th>Investment Entry Date</th>
          <th>Investment Exit Date</th>
          <th>Final BitCoin Amount</th>
          <th>Gain or Loss in CAD</th>
        </tr>
      </thead>
<tbody id="investor-table-body">
          {{#each investors}}
                             <tr data-id="{{this.id}}">

            <td>{{this.initialAmount}}</td>
            <td>{{this.entryDate}}</td>
            <td>{{this.exitDate}}</td>
            <td>{{this.netAmount}}</td>
            <td>{{this.gainLoss}}</td>
            <td><button class="btn btn-danger float-right delete deleteButton"  data-id="{{this.id}}">ｘ</button></td>
                                </tr>

          {{/each}}
       </tbody>   
</table>
</div>
<div class="col s1"></div>
</div>
</div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>


