<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Investor # <strong>ID</strong>: {{investor.id}}</h5>

            <strong>Initial Investment Amount</strong>: {{investor.initialAmount}}
            <strong>Entry Date:</strong> {{investor.entryDate}}
              <strong>Exit Date:</strong> {{investor.exitDate}}
              <strong>Book Value:</strong> {{investor.bookValue}}
              <strong>Net Amount:</strong> {{investor.netAmount}}
              <strong>Gain Loss:</strong> {{investor.gainLoss}}

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
